In [11]:
import pandas as pd

# Setting display options for better DataFrame visualization
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.max_rows', None)  # Shows all rows if desired, be cautious with large DataFrames
pd.set_option('display.expand_frame_repr', True)  # Expand display of DataFrame to full width
pd.set_option('display.width', None)  # Adjusts the display width for wide DataFrames
pd.set_option('display.precision', 2)  # Display numbers with 2 decimal places

# Load the necessary datasets
who_data = pd.read_csv('WHO-COVID-19-global-data.csv')
country_capital_data = pd.read_csv('country-capital-lat-long-population.csv')
country_populationo_data = pd.read_csv('country-population.csv')
countries_area_data = pd.read_csv('list_of_countries_by_area.csv')

# Print the first 5 rows from each DataFrame
dataframes = [who_data, country_capital_data, country_population_data, countries_area_data]
dataframe_names = ["WHO COVID-19 Data", "Country Capital Data", "Country Population Data", "Countries Area Data"]

for df, name in zip(dataframes, dataframe_names):
    print(f"First 5 rows of {name}:")
    display(df.head())  # Using display for better formatting in Jupyter Notebook

# Check for missing values in WHO Data and fill them
# Filling only numerical values in WHO data
numerical_cols = who_data.select_dtypes(include=['number']).columns
who_data[numerical_cols] = who_data[numerical_cols].fillna(0)
print("Missing values in WHO Data after filling:")
display(who_data.isnull().sum())

# Display the updated WHO data
print("Updated WHO COVID-19 Data:")
display(who_data.head())

First 5 rows of WHO COVID-19 Data:

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020.1.5,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020.1.12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020.1.19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020.1.26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020.2.2,AF,Afghanistan,EMRO,NaN,0,NaN,0

First 5 rows of Country Capital Data:

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.53,69.17,4011770,Capital
1,Albania,Tiranë (Tirana),41.33,19.82,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.75,3.04,2693542,Capital
3,American Samoa,Pago Pago,-14.28,-170.70,48526,Capital
4,Andorra,Andorra la Vella,42.51,1.52,22614,Capital

First 5 rows of Country Population Data:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Population, total",SP.POP.TOTL,5.46e+04,5.58e+04,5.67e+04,5.75e+04,5.82e+04,5.88e+04,5.93e+04,5.95e+04,5.95e+04,5.93e+04,5.91e+04,5.88e+04,5.89e+04,5.94e+04,6.00e+04,6.07e+04,6.12e+04,6.15e+04,6.17e+04,6.20e+04,6.23e+04,6.26e+04,6.31e+04,6.37e+04,6.42e+04,6.45e+04,6.46e+04,6.44e+04,6.43e+04,6.46e+04,6.57e+04,6.79e+04,7.02e+04,7.24e+04,7.47e+04,7.70e+04,7.94e+04,8.19e+04,8.44e+04,8.69e+04,8.91e+04,9.07e+04,9.18e+04,9.27e+04,9.35e+04,9.45e+04,9.56e+04,9.68e+04,9.80e+04,9.92e+04,1.00e+05,1.01e+05,1.02e+05,1.03e+05,1.04e+05,1.04e+05,1.05e+05,1.05e+05,1.06e+05,1.06e+05,1.07e+05,1.07e+05,1.06e+05,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1.31e+08,1.34e+08,1.38e+08,1.42e+08,1.46e+08,1.50e+08,1.54e+08,1.58e+08,1.63e+08,1.68e+08,1.72e+08,1.78e+08,1.83e+08,1.88e+08,1.94e+08,1.99e+08,2.05e+08,2.11e+08,2.17e+08,2.24e+08,2.31e+08,2.38e+08,2.45e+08,2.53e+08,2.60e+08,2.68e+08,2.76e+08,2.84e+08,2.93e+08,3.01e+08,3.10e+08,3.19e+08,3.27e+08,3.36e+08,3.44e+08,3.53e+08,3.63e+08,3.72e+08,3.82e+08,3.91e+08,4.02e+08,4.12e+08,4.23e+08,4.34e+08,4.45e+08,4.57e+08,4.70e+08,4.82e+08,4.96e+08,5.09e+08,5.23e+08,5.38e+08,5.53e+08,5.68e+08,5.84e+08,6.00e+08,6.16e+08,6.33e+08,6.50e+08,6.67e+08,6.85e+08,7.03e+08,7.21e+08,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8.62e+06,8.79e+06,8.97e+06,9.16e+06,9.36e+06,9.57e+06,9.78e+06,1.00e+07,1.02e+07,1.05e+07,1.08e+07,1.10e+07,1.13e+07,1.16e+07,1.19e+07,1.22e+07,1.24e+07,1.27e+07,1.29e+07,1.30e+07,1.25e+07,1.12e+07,1.01e+07,9.95e+06,1.02e+07,1.05e+07,1.04e+07,1.03e+07,1.04e+07,1.07e+07,1.07e+07,1.07e+07,1.21e+07,1.40e+07,1.55e+07,1.64e+07,1.71e+07,1.78e+07,1.85e+07,1.93e+07,1.95e+07,1.97e+07,2.10e+07,2.26e+07,2.36e+07,2.44e+07,2.54e+07,2.59e+07,2.64e+07,2.74e+07,2.82e+07,2.92e+07,3.05e+07,3.15e+07,3.27e+07,3.38e+07,3.46e+07,3.56e+07,3.67e+07,3.78e+07,3.90e+07,4.01e+07,4.11e+07,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,9.73e+07,9.93e+07,1.01e+08,1.04e+08,1.06e+08,1.08e+08,1.11e+08,1.13e+08,1.16e+08,1.19e+08,1.21e+08,1.24e+08,1.27e+08,1.31e+08,1.34e+08,1.38e+08,1.41e+08,1.45e+08,1.49e+08,1.53e+08,1.58e+08,1.62e+08,1.67e+08,1.72e+08,1.76e+08,1.81e+08,1.86e+08,1.91e+08,1.96e+08,2.01e+08,2.07e+08,2.12e+08,2.18e+08,2.24e+08,2.30e+08,2.36e+08,2.42e+08,2.49e+08,2.55e+08,2.62e+08,2.70e+08,2.77e+08,2.85e+08,2.93e+08,3.01e+08,3.10e+08,3.19e+08,3.28e+08,3.37e+08,3.46e+08,3.56e+08,3.66e+08,3.77e+08,3.87e+08,3.98e+08,4.09e+08,4.20e+08,4.31e+08,4.43e+08,4.54e+08,4.66e+08,4.78e+08,4.90e+08,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5.36e+06,5.44e+06,5.52e+06,5.60e+06,5.67e+06,5.74e+06,5.79e+06,5.83e+06,5.87e+06,5.93e+06,6.03e+06,6.18e+06,6.36e+06,6.58e+06,6.80e+06,7.03e+06,7.27e+06,7.51e+06,7.77e+06,8.04e+06,8.33e+06,8.63e+06,8.95e+06,9.28e+06,9.62e+06,9.97e+06,1.03e+07,1.07e+07,1.11e+07,1.14e+07,1.18e+07,1.22e+07,1.26e+07,1.30e+07,1.35e+07,1.39e+07,1.44e+07,1.49e+07,1.54e+07,1.59e+07,1.64e+07,1.69e+07,1.75e+07,1.81e+07,1.88e+07,1.95e+07,2.02e+07,2.09e+07,2.17e+07,2.25e+07,2.34e+07,2.43e+07,2.52e+07,2.61e+07,2.71e+07,2.81e+07,2.92e+07,3.02e+07,3.13e+07,3.24e+07,3.34e+07,3.45e+07,3.56e+07,NaN

First 5 rows of Countries Area Data:

,S.No.,Country / Dependency,Total in km (mi),Land in km (mi),Water in km (mi),% water,Alpha-2 code,Numeric Code,Nationality
0,1,Russian Federation,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,RU,643,Russian
1,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,CA,124,Canadian
2,3,China,"9,596,961 (3,705,407)","9,326,410 (3,600,950)","270,550 (104,460)",2.82,CN,156,Chinese
3,4,United States of America,"9,833,517 (3,796,742)","9,147,593 (3,531,905)","685,924 (264,837)",6.97,US,840,American
4,5,Brazil,"8,515,767 (3,287,956)","8,460,415 (3,266,584)","55,352 (21,372)",0.65,BR,76,Brazilian

Missing values in WHO Data after filling:

Date_reported           0
Country_code          216
Country                 0
WHO_region           3888
New_cases               0
Cumulative_cases        0
New_deaths              0
Cumulative_deaths       0
dtype: int64

Updated WHO COVID-19 Data:

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020.1.5,AF,Afghanistan,EMRO,0.0,0,0.0,0
1,2020.1.12,AF,Afghanistan,EMRO,0.0,0,0.0,0
2,2020.1.19,AF,Afghanistan,EMRO,0.0,0,0.0,0
3,2020.1.26,AF,Afghanistan,EMRO,0.0,0,0.0,0
4,2020.2.2,AF,Afghanistan,EMRO,0.0,0,0.0,0