In [29]:
import pandas as pd
from IPython.display import display  # Import the display function for better visualization in Jupyter Notebook


# Prep
# Load the necessary datasets (Prep1: Load data)
who_data = pd.read_csv('WHO-COVID-19-global-data.csv')
country_capital_data = pd.read_csv('country-capital-lat-long-population.csv')
country_population_data = pd.read_csv('country-population.csv')
countries_by_area_data = pd.read_csv('list_of_countries_by_area.csv')

# Prep2: View Data Configuration - Display the first 5 rows of each dataframe
print("First 5 rows of WHO-COVID-19 global data:")
display(who_data.head())

print("First 5 rows of Country-Capital-Lat-Long-Population data:")
display(country_capital_data.head())

print("First 5 rows of Country Population data:")
display(country_population_data.head())

print("First 5 rows of List of Countries by Area data:")
display(countries_by_area_data.head())

# Prep3: Check for missing values in WHO-COVID-19-global-data.csv and fill them
# Numerical columns are filled with zeros where needed; non-numerical columns are not modified
who_data.fillna({
    'New_cases': 0, 'Cumulative_cases': 0, 
    'New_deaths': 0, 'Cumulative_deaths': 0
}, inplace=True)

# Display the first 5 rows of WHO data after filling missing values
print("First 5 rows of WHO-COVID-19 global data after filling missing values:")
display(who_data.head())

First 5 rows of WHO-COVID-19 global data:

  Date_reported Country_code   Country    WHO_region  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
0     2020.1.5       AF       Afghanistan    EMRO       NaN              0            NaN              0
1    2020.1.12       AF       Afghanistan    EMRO       NaN              0            NaN              0
2    2020.1.19       AF       Afghanistan    EMRO       NaN              0            NaN              0
3    2020.1.26       AF       Afghanistan    EMRO       NaN              0            NaN              0
4     2020.2.2       AF       Afghanistan    EMRO       NaN              0            NaN              0

First 5 rows of Country-Capital-Lat-Long-Population data:

      Country          Capital City       Latitude  Longitude  Population Capital Type
0     Afghanistan                  Kabul    34.53     69.17      4011770     Capital
1         Albania        Tiranë (Tirana)    41.33     19.82       475577     Capital
2         Algeria  El Djazaïr  (Algiers)    36.75      3.04      2693542     Capital
3  American Samoa              Pago Pago   -14.28   -170.70        48526     Capital
4         Andorra       Andorra la Vella    42.51      1.52        22614     Capital

First 5 rows of Country Population data:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,608.00","55,811.00","56,682.00","57,475.00","58,178.00","58,782.00","59,291.00","59,522.00","59,471.00","59,330.00","59,106.00","58,816.00","58,855.00","59,365.00","60,028.00","60,715.00","61,193.00","61,465.00","61,738.00","62,006.00","62,267.00","62,614.00","63,116.00","63,683.00","64,174.00","64,478.00","64,553.00","64,450.00","64,332.00","64,596.00","65,712.00","67,864.00","70,192.00","72,360.00","74,710.00","77,050.00","79,417.00","81,858.00","84,355.00","86,867.00","89,101.00","90,691.00","91,781.00","92,701.00","93,540.00","94,483.00","95,606.00","96,787.00","97,996.00","99,212.00","100,341.00","101,288.00","102,112.00","102,880.00","103,594.00","104,257.00","104,874.00","105,439.00","105,962.00","106,442.00","106,585.00","106,537.00","106,445.00",NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,"130,692,579.00","134,169,237.00","137,835,590.00","141,630,546.00","145,605,995.00","149,742,351.00","153,955,516.00","158,313,235.00","162,875,171.00","167,596,160.00","172,475,766.00","177,503,186.00","182,599,092.00","187,901,657.00","193,512,956.00","199,284,304.00","205,202,669.00","211,120,911.00","217,481,420.00","224,315,978.00","230,967,858.00","237,937,461.00","245,386,717.00","252,779,730.00","260,209,149.00","267,938,123.00","276,035,920.00","284,490,394.00","292,795,186.00","301,124,880.00","309,890,664.00","318,544,083.00","326,933,522.00","335,625,136.00","344,418,362.00","353,466,601.00","362,985,802.00","372,352,230.00","381,715,600.00","391,486,231.00","401,600,588.00","412,001,885.00","422,741,118.00","433,807,484.00","445,281,555.00","457,153,837.00","469,508,516.00","482,406,426.00","495,748,900.00","509,410,477.00","523,459,657.00","537,792,950.00","552,530,654.00","567,892,149.00","583,651,101.00","600,008,424.00","616,377,605.00","632,746,570.00","649,757,148.00","667,242,986.00","685,112,979.00","702,977,106.00","720,859,132.00",NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,622,466.00","8,790,140.00","8,969,047.00","9,157,465.00","9,355,514.00","9,565,147.00","9,783,147.00","10,010,030.00","10,247,780.00","10,494,489.00","10,752,971.00","11,015,857.00","11,286,753.00","11,575,305.00","11,869,879.00","12,157,386.00","12,425,267.00","12,687,301.00","12,938,862.00","12,986,369.00","12,486,631.00","11,155,195.00","10,088,289.00","9,951,449.00","10,243,686.00","10,512,221.00","10,448,442.00","10,322,758.00","10,383,460.00","10,673,168.00","10,694,796.00","10,745,167.00","12,057,433.00","14,003,760.00","15,455,555.00","16,418,912.00","17,106,595.00","17,788,819.00","18,493,132.00","19,262,847.00","19,542,982.00","19,688,632.00","21,000,256.00","22,645,130.00","23,553,551.00","24,411,191.00","25,442,944.00","25,903,301.00","26,427,199.00","27,385,307.00","28,189,672.00","29,249,157.00","30,466,479.00","31,541,209.00","32,716,210.00","33,753,499.00","34,636,207.00","35,643,418.00","36,686,784.00","37,769,499.00","38,972,230.00","40,099,462.00","41,128,771.00",NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,"97,256,290.00","99,314,028.00","101,445,032.00","103,667,517.00","105,959,979.00","108,336,203.00","110,798,486.00","113,319,950.00","115,921,723.00","118,615,741.00","121,424,797.00","124,336,039.00","127,364,044.00","130,563,107.00","133,953,892.00","137,548,613.00","141,258,400.00","145,122,851.00","149,206,663.00","153,459,665.00","157,825,609.00","162,323,313.00","167,023,385.00","171,566,640.00","176,054,495.00","180,817,312.00","185,720,244.00","190,759,952.00","195,969,722.00","201,392,200.00","206,739,024.00","212,172,888.00","217,966,101.00","223,788,766.00","229,675,775.00","235,861,484.00","242,200,260.00","248,713,095.00","255,482,918.00","262,397,030.00","269,611,898.00","277,160,097.00","284,952,322.00","292,977,949.00","301,265,247.00","309,824,829.00","318,601,484.00","327,612,838.00","336,893,835.00","346,475,221.00","356,337,762.00","366,489,204.00","376,797,999.00","387,204,553.00","397,855,507.00","408,690,375.00","419,778,384.00","431,138,704.00","442,646,825.00","454,306,063.00","466,189,102.00","478,185,907.00","490,330,870.00",NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,"5,357,195.00","5,441,333.00","5,521,400.00","5,599,827.00","5,673,199.00","5,736,582.00","5,787,044.00","5,827,503.00","5,868,203.00","5,928,386.00","6,029,700.00","6,177,049.00","6,364,731.00","6,578,230.00","6,802,494.00","7,032,713.00","7,266,780.00","7,511,895.00","7,771,590.00","8,043,218.00","8,330,047.00","8,631,457.00","8,947,152.00","9,276,707.00","9,617,702.00","9,970,621.00","10,332,574.00","10,694,057.00","11,060,261.00","11,439,498.00","11,828,638.00","12,228,691.00","12,632,507.00","13,038,270.00","13,462,031.00","13,912,253.00","14,383,350.00","14,871,146.00","15,366,864.00","15,870,753.00","16,394,062.00","16,941,587.00","17,516,139.00","18,124,342.00","18,771,125.00","19,450,959.00","20,162,340.00","20,909,684.00","21,691,522.00","22,507,674.00","23,364,185.00","24,259,111.00","25,188,292.00","26,147,002.00","27,128,337.00","28,127,721.00","29,154,746.00","30,208,628.00","31,273,533.00","32,353,588.00","33,428,486.00","34,503,774.00","35,588,987.00",NaN

First 5 rows of List of Countries by Area data:

,S.No.,Country / Dependency,Total in km (mi),Land in km (mi),Water in km (mi),% water,Alpha-2 code,Numeric Code,Nationality
0,1,Russian Federation,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,RU,643,Russian
1,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,CA,124,Canadian
2,3,China,"9,596,961 (3,705,407)","9,326,410 (3,600,950)","270,550 (104,460)",2.82,CN,156,Chinese
3,4,United States of America,"9,833,517 (3,796,742)","9,147,593 (3,531,905)","685,924 (264,837)",6.97,US,840,American
4,5,Brazil,"8,515,767 (3,287,956)","8,460,415 (3,266,584)","55,352 (21,372)",0.65,BR,76,Brazilian

First 5 rows of WHO-COVID-19 global data after filling missing values:

  Date_reported Country_code   Country    WHO_region  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
0     2020.1.5       AF       Afghanistan    EMRO       0.00             0            0.00             0
1    2020.1.12       AF       Afghanistan    EMRO       0.00             0            0.00             0
2    2020.1.19       AF       Afghanistan    EMRO       0.00             0            0.00             0
3    2020.1.26       AF       Afghanistan    EMRO       0.00             0            0.00             0
4     2020.2.2       AF       Afghanistan    EMRO       0.00             0            0.00             0

In [28]:
# Prob1-1

# Load the WHO-COVID-19 global data
who_data = pd.read_csv('WHO-COVID-19-global-data.csv')

# Remove rows where 'New_cases' < 0
who_data = who_data[who_data['New_cases'] >= 0]

# Remove rows where 'New_deaths' < 0
who_data = who_data[who_data['New_deaths'] >= 0]

# Display the modified data to verify that rows are removed
print("Data after removing rows with negative New_cases and New_deaths:")
display(who_data.head())

Data after removing rows with negative New_cases and New_deaths:

   Date_reported Country_code   Country    WHO_region  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
12    2020.3.29       AF       Afghanistan    EMRO       67.00            91           2.00             2
13     2020.4.5       AF       Afghanistan    EMRO      183.00           274           3.00             5
14    2020.4.12       AF       Afghanistan    EMRO      247.00           521          10.00            15
15    2020.4.19       AF       Afghanistan    EMRO      387.00           908          15.00            30
16    2020.4.26       AF       Afghanistan    EMRO      422.00          1330          13.00            43

In [27]:
# Prob1-2

# Extract unique countries from the WHO data
unique_countries = who_data['Country'].unique()

# Filter the other datasets to include only rows with countries that exist in the WHO data
filtered_country_capital_data = country_capital_data[country_capital_data['Country'].isin(unique_countries)]
filtered_country_population_data = country_population_data[country_population_data['Country Name'].isin(unique_countries)]
filtered_countries_by_area_data = countries_by_area_data[countries_by_area_data['Country / Dependency'].isin(unique_countries)]

# Display the filtered data (optional, for verification)
print("Filtered Country Capital Data:")
display(filtered_country_capital_data.head())

print("Filtered Country Population Data:")
display(filtered_country_population_data.head())

print("Filtered Countries by Area Data:")
display(filtered_countries_by_area_data.head())

Filtered Country Capital Data:

      Country          Capital City       Latitude  Longitude  Population Capital Type
0     Afghanistan                  Kabul    34.53     69.17      4011770     Capital
1         Albania        Tiranë (Tirana)    41.33     19.82       475577     Capital
2         Algeria  El Djazaïr  (Algiers)    36.75      3.04      2693542     Capital
3  American Samoa              Pago Pago   -14.28   -170.70        48526     Capital
4         Andorra       Andorra la Vella    42.51      1.52        22614     Capital

Filtered Country Population Data:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,AW,"Population, total",SP.POP.TOTL,"54,608.00","55,811.00","56,682.00","57,475.00","58,178.00","58,782.00","59,291.00","59,522.00","59,471.00","59,330.00","59,106.00","58,816.00","58,855.00","59,365.00","60,028.00","60,715.00","61,193.00","61,465.00","61,738.00","62,006.00","62,267.00","62,614.00","63,116.00","63,683.00","64,174.00","64,478.00","64,553.00","64,450.00","64,332.00","64,596.00","65,712.00","67,864.00","70,192.00","72,360.00","74,710.00","77,050.00","79,417.00","81,858.00","84,355.00","86,867.00","89,101.00","90,691.00","91,781.00","92,701.00","93,540.00","94,483.00","95,606.00","96,787.00","97,996.00","99,212.00","100,341.00","101,288.00","102,112.00","102,880.00","103,594.00","104,257.00","104,874.00","105,439.00","105,962.00","106,442.00","106,585.00","106,537.00","106,445.00",NaN
2,Afghanistan,AF,"Population, total",SP.POP.TOTL,"8,622,466.00","8,790,140.00","8,969,047.00","9,157,465.00","9,355,514.00","9,565,147.00","9,783,147.00","10,010,030.00","10,247,780.00","10,494,489.00","10,752,971.00","11,015,857.00","11,286,753.00","11,575,305.00","11,869,879.00","12,157,386.00","12,425,267.00","12,687,301.00","12,938,862.00","12,986,369.00","12,486,631.00","11,155,195.00","10,088,289.00","9,951,449.00","10,243,686.00","10,512,221.00","10,448,442.00","10,322,758.00","10,383,460.00","10,673,168.00","10,694,796.00","10,745,167.00","12,057,433.00","14,003,760.00","15,455,555.00","16,418,912.00","17,106,595.00","17,788,819.00","18,493,132.00","19,262,847.00","19,542,982.00","19,688,632.00","21,000,256.00","22,645,130.00","23,553,551.00","24,411,191.00","25,442,944.00","25,903,301.00","26,427,199.00","27,385,307.00","28,189,672.00","29,249,157.00","30,466,479.00","31,541,209.00","32,716,210.00","33,753,499.00","34,636,207.00","35,643,418.00","36,686,784.00","37,769,499.00","38,972,230.00","40,099,462.00","41,128,771.00",NaN
4,Angola,AO,"Population, total",SP.POP.TOTL,"5,357,195.00","5,441,333.00","5,521,400.00","5,599,827.00","5,673,199.00","5,736,582.00","5,787,044.00","5,827,503.00","5,868,203.00","5,928,386.00","6,029,700.00","6,177,049.00","6,364,731.00","6,578,230.00","6,802,494.00","7,032,713.00","7,266,780.00","7,511,895.00","7,771,590.00","8,043,218.00","8,330,047.00","8,631,457.00","8,947,152.00","9,276,707.00","9,617,702.00","9,970,621.00","10,332,574.00","10,694,057.00","11,060,261.00","11,439,498.00","11,828,638.00","12,228,691.00","12,632,507.00","13,038,270.00","13,462,031.00","13,912,253.00","14,383,350.00","14,871,146.00","15,366,864.00","15,870,753.00","16,394,062.00","16,941,587.00","17,516,139.00","18,124,342.00","18,771,125.00","19,450,959.00","20,162,340.00","20,909,684.00","21,691,522.00","22,507,674.00","23,364,185.00","24,259,111.00","25,188,292.00","26,147,002.00","27,128,337.00","28,127,721.00","29,154,746.00","30,208,628.00","31,273,533.00","32,353,588.00","33,428,486.00","34,503,774.00","35,588,987.00",NaN
5,Albania,AL,"Population, total",SP.POP.TOTL,"1,608,800.00","1,659,800.00","1,711,319.00","1,762,621.00","1,814,135.00","1,864,791.00","1,914,573.00","1,965,598.00","2,022,272.00","2,081,695.00","2,135,479.00","2,187,853.00","2,243,126.00","2,296,752.00","2,350,124.00","2,404,831.00","2,458,526.00","2,513,546.00","2,566,266.00","2,617,832.00","2,671,997.00","2,726,056.00","2,784,278.00","2,843,960.00","2,904,429.00","2,964,762.00","3,022,635.00","3,083,605.00","3,142,336.00","3,227,943.00","3,286,542.00","3,266,790.00","3,247,039.00","3,227,287.00","3,207,536.00","3,187,784.00","3,168,033.00","3,148,281.00","3,128,530.00","3,108,778.00","3,089,027.00","3,060,173.00","3,051,010.00","3,039,616.00","3,026,939.00","3,011,487.00","2,992,547.00","2,970,017.00","2,947,314.00","2,927,519.00","2,913,021.00","2,905,195.00","2,900,401.00","2,895,092.00","2,889,104.00","2,880,703.00","2,876,101.00","2,873,457.00","2,866,376.00","2,854,191.00","2,837,849.00","2,811,666.00","2,777,689.00",NaN
6,Andorra,AD,"Population, total",SP.POP.TOTL,"9,443.00","10,216.00","11,014.00","11,839.00","12,690.00","13,563.00","14,546.00","15,745.00","17,079.00","18,449.00","19,860.00","21,322.00","22,832.00","24,393.00","26,003.00","27,640.00","29,294.00","30,949.00","32,574.00","34,142.00","35,611.00","36,987.00","38,598.00","40,432.00","42,181.00","43,809.00","45,605.00","47,635.00","49,654.00","51,639.00","53,569.00","55,434.00","57,283.00","59,156.00","61,037.00","62,928.00","64,147.00","64,682.00","65,186.00","65,655.00","66,097.00","67,820.00","70,849.00","73,907.00","76,933.00","79,826.00","80,221.00","78,168.00","76,055.00","73,852.00","71,519.00","70,567.00","71,013.00","71,367.00","71,621.00","71,746.00","72,540.00","73,837.00","75,013.00","76,343.00","77,700.00","79,034.00","79,824.00",NaN

Filtered Countries by Area Data:

,S.No.,Country / Dependency,Total in km (mi),Land in km (mi),Water in km (mi),% water,Alpha-2 code,Numeric Code,Nationality
0,1,Russian Federation,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,RU,643,Russian
1,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,CA,124,Canadian
2,3,China,"9,596,961 (3,705,407)","9,326,410 (3,600,950)","270,550 (104,460)",2.82,CN,156,Chinese
3,4,United States of America,"9,833,517 (3,796,742)","9,147,593 (3,531,905)","685,924 (264,837)",6.97,US,840,American
4,5,Brazil,"8,515,767 (3,287,956)","8,460,415 (3,266,584)","55,352 (21,372)",0.65,BR,76,Brazilian

In [26]:
# Prob1-3

# Create a mapping from WHO data for country codes
country_code_mapping = who_data[['Country', 'Country_code']].drop_duplicates()

# Merge and update the 'Alpha-2 code' in countries by area data
countries_by_area_data = countries_by_area_data.merge(country_code_mapping, left_on='Country / Dependency', right_on='Country', how='left')
countries_by_area_data['Alpha-2 code'] = countries_by_area_data['Country_code']
countries_by_area_data.drop(columns=['Country_code', 'Country'], inplace=True)

# Merge and update the 'Country Code' in country population data
country_population_data = country_population_data.merge(country_code_mapping, left_on='Country Name', right_on='Country', how='left')
country_population_data['Country Code'] = country_population_data['Country_code']
country_population_data.drop(columns=['Country_code', 'Country'], inplace=True)

# Display the updated data to verify the changes
print("Updated Countries by Area Data:")
display(countries_by_area_data.head())

print("Updated Country Population Data:")
display(country_population_data.head())

Updated Countries by Area Data:

,S.No.,Country / Dependency,Total in km (mi),Land in km (mi),Water in km (mi),% water,Alpha-2 code,Numeric Code,Nationality
0,1,Russian Federation,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21,RU,643,Russian
1,2,Canada,"9,984,670 (3,855,100)","9,093,507 (3,511,023)","891,163 (344,080)",8.93,CA,124,Canadian
2,3,China,"9,596,961 (3,705,407)","9,326,410 (3,600,950)","270,550 (104,460)",2.82,CN,156,Chinese
3,4,United States of America,"9,833,517 (3,796,742)","9,147,593 (3,531,905)","685,924 (264,837)",6.97,US,840,American
4,5,Brazil,"8,515,767 (3,287,956)","8,460,415 (3,266,584)","55,352 (21,372)",0.65,BR,76,Brazilian

Updated Country Population Data:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,AW,"Population, total",SP.POP.TOTL,"54,608.00","55,811.00","56,682.00","57,475.00","58,178.00","58,782.00","59,291.00","59,522.00","59,471.00","59,330.00","59,106.00","58,816.00","58,855.00","59,365.00","60,028.00","60,715.00","61,193.00","61,465.00","61,738.00","62,006.00","62,267.00","62,614.00","63,116.00","63,683.00","64,174.00","64,478.00","64,553.00","64,450.00","64,332.00","64,596.00","65,712.00","67,864.00","70,192.00","72,360.00","74,710.00","77,050.00","79,417.00","81,858.00","84,355.00","86,867.00","89,101.00","90,691.00","91,781.00","92,701.00","93,540.00","94,483.00","95,606.00","96,787.00","97,996.00","99,212.00","100,341.00","101,288.00","102,112.00","102,880.00","103,594.00","104,257.00","104,874.00","105,439.00","105,962.00","106,442.00","106,585.00","106,537.00","106,445.00",NaN
1,Africa Eastern and Southern,NaN,"Population, total",SP.POP.TOTL,"130,692,579.00","134,169,237.00","137,835,590.00","141,630,546.00","145,605,995.00","149,742,351.00","153,955,516.00","158,313,235.00","162,875,171.00","167,596,160.00","172,475,766.00","177,503,186.00","182,599,092.00","187,901,657.00","193,512,956.00","199,284,304.00","205,202,669.00","211,120,911.00","217,481,420.00","224,315,978.00","230,967,858.00","237,937,461.00","245,386,717.00","252,779,730.00","260,209,149.00","267,938,123.00","276,035,920.00","284,490,394.00","292,795,186.00","301,124,880.00","309,890,664.00","318,544,083.00","326,933,522.00","335,625,136.00","344,418,362.00","353,466,601.00","362,985,802.00","372,352,230.00","381,715,600.00","391,486,231.00","401,600,588.00","412,001,885.00","422,741,118.00","433,807,484.00","445,281,555.00","457,153,837.00","469,508,516.00","482,406,426.00","495,748,900.00","509,410,477.00","523,459,657.00","537,792,950.00","552,530,654.00","567,892,149.00","583,651,101.00","600,008,424.00","616,377,605.00","632,746,570.00","649,757,148.00","667,242,986.00","685,112,979.00","702,977,106.00","720,859,132.00",NaN
2,Afghanistan,AF,"Population, total",SP.POP.TOTL,"8,622,466.00","8,790,140.00","8,969,047.00","9,157,465.00","9,355,514.00","9,565,147.00","9,783,147.00","10,010,030.00","10,247,780.00","10,494,489.00","10,752,971.00","11,015,857.00","11,286,753.00","11,575,305.00","11,869,879.00","12,157,386.00","12,425,267.00","12,687,301.00","12,938,862.00","12,986,369.00","12,486,631.00","11,155,195.00","10,088,289.00","9,951,449.00","10,243,686.00","10,512,221.00","10,448,442.00","10,322,758.00","10,383,460.00","10,673,168.00","10,694,796.00","10,745,167.00","12,057,433.00","14,003,760.00","15,455,555.00","16,418,912.00","17,106,595.00","17,788,819.00","18,493,132.00","19,262,847.00","19,542,982.00","19,688,632.00","21,000,256.00","22,645,130.00","23,553,551.00","24,411,191.00","25,442,944.00","25,903,301.00","26,427,199.00","27,385,307.00","28,189,672.00","29,249,157.00","30,466,479.00","31,541,209.00","32,716,210.00","33,753,499.00","34,636,207.00","35,643,418.00","36,686,784.00","37,769,499.00","38,972,230.00","40,099,462.00","41,128,771.00",NaN
3,Africa Western and Central,NaN,"Population, total",SP.POP.TOTL,"97,256,290.00","99,314,028.00","101,445,032.00","103,667,517.00","105,959,979.00","108,336,203.00","110,798,486.00","113,319,950.00","115,921,723.00","118,615,741.00","121,424,797.00","124,336,039.00","127,364,044.00","130,563,107.00","133,953,892.00","137,548,613.00","141,258,400.00","145,122,851.00","149,206,663.00","153,459,665.00","157,825,609.00","162,323,313.00","167,023,385.00","171,566,640.00","176,054,495.00","180,817,312.00","185,720,244.00","190,759,952.00","195,969,722.00","201,392,200.00","206,739,024.00","212,172,888.00","217,966,101.00","223,788,766.00","229,675,775.00","235,861,484.00","242,200,260.00","248,713,095.00","255,482,918.00","262,397,030.00","269,611,898.00","277,160,097.00","284,952,322.00","292,977,949.00","301,265,247.00","309,824,829.00","318,601,484.00","327,612,838.00","336,893,835.00","346,475,221.00","356,337,762.00","366,489,204.00","376,797,999.00","387,204,553.00","397,855,507.00","408,690,375.00","419,778,384.00","431,138,704.00","442,646,825.00","454,306,063.00","466,189,102.00","478,185,907.00","490,330,870.00",NaN
4,Angola,AO,"Population, total",SP.POP.TOTL,"5,357,195.00","5,441,333.00","5,521,400.00","5,599,827.00","5,673,199.00","5,736,582.00","5,787,044.00","5,827,503.00","5,868,203.00","5,928,386.00","6,029,700.00","6,177,049.00","6,364,731.00","6,578,230.00","6,802,494.00","7,032,713.00","7,266,780.00","7,511,895.00","7,771,590.00","8,043,218.00","8,330,047.00","8,631,457.00","8,947,152.00","9,276,707.00","9,617,702.00","9,970,621.00","10,332,574.00","10,694,057.00","11,060,261.00","11,439,498.00","11,828,638.00","12,228,691.00","12,632,507.00","13,038,270.00","13,462,031.00","13,912,253.00","14,383,350.00","14,871,146.00","15,366,864.00","15,870,753.00","16,394,062.00","16,941,587.00","17,516,139.00","18,124,342.00","18,771,125.00","19,450,959.00","20,162,340.00","20,909,684.00","21,691,522.00","22,507,674.00","23,364,185.00","24,259,111.00","25,188,292.00","26,147,002.00","27,128,337.00","28,127,721.00","29,154,746.00","30,208,628.00","31,273,533.00","32,353,588.00","33,428,486.00","34,503,774.00","35,588,987.00",NaN